title: Digital Society center - Fondazione Bruno Kessler
email: segreteria.digis@fbk.eu
description: >- # this means to ignore newlines until "baseurl:"
  Digital Society is a research center of Fondazione Bruno
  Kessler (FBK) formed by a multidisciplinary team of more than
  100 researchers, technologists and managers (including PhD
  students) organized in 7 research units dedicated to specific
  research areas in the ICT domain and 2 support units
  focusing on project management and technology maturation.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: fbk_research
github_username:  fbk-digis
encoding: utf-8
markdown: kramdown
google_analytics: UA-4545411-61
# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
